<%= form_for(qtask) do |f| %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <% if qtask.errors[:name].length %>
          <span class="qtask-error"><%= qtask.errors[:name].join(', ') %></span>
      <% end %>
    </p>

    <div class="widget-box--blocks--buttons">
        <button type="submit" class="button -alt-highlight" title="New qtask">
            <span class="button--text">Create qtask</span>
        </button>
    </div>

<% end %>
